<title>My application deployed automatically</title>
  <h1>Hello, World!</h1>
	In the first and second forms, enter a list of integers separated by a newline character.
	<br>
	In the third and forth forms, enter single integer.
	<br>
	If the first integer is in the first array, the arrays' elements will multiplied by the integer.
	<br>
	If the second integer is in the second array, the arrays' elements will multiplied by the integer.
	<br>
	The method will indicate whether the summation of the first arrays' elements are greater or lesser than the summation of the other arrays' elements.
	<br>

    {{result}}


  <form action="compute" method="post">
	first array:
        <textarea name="input1" rows="10" cols="30"></textarea>
	<br>
	second array:
        <textarea name="input2" rows="10" cols="30"></textarea>
	<br>
	first integer:
	<textarea name="input3" rows="10" cols="30"></textarea>
	<br>
	second integer:
	<textarea name="input4" rows="10" cols="30"></textarea>
        <br>
        <input type="submit">
  </form>

